<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- js, css include(S)-->
<script type="text/javascript" src="../../js/jquery/jquery-1.11.1.js"></script>
<script type="text/javascript" src="../../js/bootstrap/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="../../css/bootstrap/bootstrap.css" />
<script type="text/javascript" src="../../js/angular/angular.js"></script>
<script type="text/javascript" src="../../js/angular/angular-resource.js"></script>
<!-- js, css include(E)-->

</head>
<body class="well">
	<h1>AngularJS TODO App</h1>
	
	<p>전체할일 <strong>2</strong>개 / 남은 할일은 <strong>1</strong>개
	[<a href="">보관하기</a>]</p>
	
	<ul class="list-unstyled">
		<li class="checkbox"><input type="checkbox">AngularJS 독서</li>
		<li class="checkbox"><input type="checkbox">개인프로젝트 구성</li>
	</ul>
	
	<form name="newItemForm" class="form-inline" acton="">
		<div class="form-group">
			<label class="sr-only" for="newItemText">새로운할일</label>
			<input type="text" class="form-control" name="newItemText" placeholder="새로운 할일">
		</div>
		<button type="submit" class="btn btn-default">추가</button>
			
		</div>
	</form>
</body>
</html>