<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<!-- js, css include(S)-->
<script type="text/javascript" src="../js/jquery/jquery-1.11.1.js"></script>
<script type="text/javascript" src="../js/bootstrap/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.css" />
<script type="text/javascript" src="../js/angular/angular.js"></script>
<script type="text/javascript" src="../js/angular/angular-resource.js"></script>
<script type="text/javascript" src="../js/angular/angular-route.js"></script>
<!-- js, css include(E)-->

<script type="text/javascript">

</script>
</head>
<body>

</body>
</html>